<!-- Наследуемся от шаблона default.html, который мы создавали еще во времена flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет prodects -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы вводим все товары -->
{% block content %}
    <h1>Все товары</h1>
    <<h3>{{ time_now|data:'M d Y'}}</h3>
    <h3>{{ value1|default_if_none:"ничего" }}</h3>
    <hr>
    {% if products %}
      <table>
          <tr>
              <td>
                  Название
              </td>
              <td>
                  Описание
              </td>
              <td>
                  Категория
              </td>
              <td>
                  Цена
              </td>
              <td>
                  Качество
              </td>
          </tr>
          {% for product in products %}
          <tr>
            <td>
                {{ product.name }}
            </td>
            <td>
                {{ product.description|truncatechars:20 }} привет от скиллфектори
            </td>
            <td>
                {{ product.category.name }}
            </td>
            <td>
                {{ product.price }}
            </td>
            <td>
                {{ product.quantity }}
            </td>
          </tr>
          {% endfor %}
        </table>
    {% else %}
      <h2>Товаров нет!</h2>
    {% endif %}
{% endblock content %}
